*{
    padding:10px;
    margin:0;
}


section{
  margin: 20px 0;
}

ul{
  padding-left: 40px;
}

ul ul ul {
  margin-top: 10px;
}



h1, h2 {
  color: royalblue;
}

section:first-of-type p {
  color: forestgreen;
}

ul > li:nth-child(1) {
  color: royalblue;
}

ul > li:nth-child(2) {
  color: forestgreen;
}

ul > li:nth-child(3) {
  color: crimson;

}



ul ul li:nth-child(1),
ul ul li:nth-child(2) {
  color: violet;
  background-color: lightgray;


}

ul ul ul li:nth-child(1) {
  color: darkorange;
  background-color: beige;



}

ul ul li:nth-child(1),
ul ul li:nth-child(3) {
  color: violet;
  background-color: lightgray;
}

ul > li:last-child {
  color: blue;
}
